table {
    width: 90vw;
    height: 90vh;
    margin: 10vh auto;
  }
  td {
    text-align: center;
    width: 3rem;
    height: 2rem;
    border-radius: 10%;
    border: 2px gray solid;
  }
  td:empty {
    /* border: none; */
  }
  td:hover {
    transform: scale(1.5);
    transition: 0.5s;
  }
  tr:nth-child(n+2):nth-child(-n+7) :nth-child(1){
    background-color: gray;
  }
  tr:nth-child(n+2):nth-child(-n+7) :nth-child(2) {
    background-color: rgb(94, 69, 36);
  }
  tr:nth-child(n) :nth-child(18){
    background-color: pink;
  }
  tr:nth-child(4) :nth-child(n+3):nth-child(-n+12)
  {
    background-color: rgb(2, 70, 13);
  }
  tr:nth-child(8) :nth-child(n+2):nth-child(-n+15){
    background-color: rgb(25, 103, 177);
  }
  tr:nth-child(9) :nth-child(n+2):nth-child(-n+15){
    background-color: rgb(8, 92, 78);
  }



  
  